<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clay.system.mapper.SellRecordDetailsMapper">

    <insert id="insertDetails" parameterType="com.clay.system.model.enity.SellRecordDetails">
        INSERT INTO t_sellDetails(orderCode,drugCode,drugNum,drugPrice)
        VALUES(#{orderCode},#{drugCode},#{drugNum},#{drugPrice})
    </insert>
    <select id="queryByOrderCode" resultType="com.clay.system.model.enity.SellRecordDetails">
        SELECT * FROM t_sellDetails
    </select>
</mapper>